{{>header}}
<div class="playbody">
    <div class="topplay">
        <span class="playback"><i class="fas fa-backward"></i>
        </span>
        <span class="playOrpause"><i id="playORpause" class="fas fa-play"></i></span>
        <span class="forward"><i class="fas fa-forward"></i>
        </span>
        
    </div>
    <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>

</div>
<div class="contain">
    <h1 class="album">Our New Collection</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="albam">
                        <div class="img">
                            <img src="/image/Dhadak.png" alt="">
                        </div>
                        <div class="albamDetalis">
                            <div class="albamName">
                                <h1>Dhadak</h1>
                            </div>
                            <span class="statas">
                                <i class="fas fa-play"></i>
                            </span>

                        </div>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>


</div>




{{>footer}}