{{>header}}
<div class="playbody">
    <div class="topplay">
        <div class="playback"></div>
        <div class="playOrpause"></div>
    </div>

</div>
<div class="contain">
    <h1 class="album">Our New Collection</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="albam">
                        <div class="img">
                            <img src="/image/Dhadak.png" alt="">
                        </div>
                        <div class="albamDetalis">
                            <div class="albamName">
                                <h1>Dhadak</h1>
                            </div>
                            <div class="statas">


                            </div>

                        </div>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>


</div>




{{>footer}}