<html lang="en">

{{>headerLink}}

<body>
    <div class="container">
        <div class="navbartop">
            <div class="logo">
                <label>
                    <h1>Web Music</h1>
                </label>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="../">Home</a></li>
                    <li><a href="../catagory">Catagory</a></li>
                    <li><a href="../about">About Us</a></li>
                    <li><a href="../contact">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="containtbody">
            <div class="backgroundimg">
                <div class="write">
                    <h1>Connect</h1>
                    <h1> To Your</h1>
                    <h1>Heart</h1>
                </div>
            </div>
        </div>
    </div>